<label>MHash/s</label>
<input type="text" [(ngModel)]="hashPower" (ngModelChange)="updateData()">
<br/>
<br/>
<table border="1">
  <tr>
    <th><b>Time</b></th>
    <th><b>Difficulty</b></th>
    <th><b>Network hash rate</b></th>
    <th><b>Block time</b></th>
    <th><b>Eth/day</b></th>
    <th><b>Change</b></th>
  </tr>
  <tr *ngFor="let i of ethInfo">
    <td>{{i.time | date:'short'}}</td>
    <td>{{i.difficulty}}</td>
    <td>{{i.networkHashNorm | number:'2.0-0'}}GHash/s</td>
    <td>{{i.blockTime}}</td>
    <td>{{i.ethPerDay}}</td>
    <td [ngClass]="{'red': i.change < 0, 'green': i.change > 0}">{{i.change | percent:'1.0-4'}}</td>
  </tr>
</table>